$primary-color: #272727;
$accent-color: #fe3411;
$text-color: #fff;
$clock-color: #0000ff;

* {
    padding: 0;
    box-sizing: border-box;
    color: $primary-color;
}

@mixin flex-center($flex-direction) {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@mixin background-img {
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}