@import 'config';


.nav {
    width: 100%;
    background-color: gold;

    &__box {
        display: flex;
        justify-content: center;
        // align-items: center;
        // flex-direction: column;

        .flag {
            width: 100px;
        }
    }
}

.main {
    height: 100vh;
    background-color: $primary-color;
    color: $text-color;
    @include flex-start;
}

.clock {
    background-color: $accent-color;
    height: 300px;

}