* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav {
  width: 100%;
  background-color: #fe3411;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav__btn {
  background-color: #fe3411;
  border: none;
  cursor: pointer;
  margin-right: 15px;
  margin-left: auto;
}

.nav__btn > p {
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 10px;
  font-weight: bold;
}

.nav__btn--flag {
  width: 50px;
}

.main {
  height: 100vh;
  background-color: #272727;
  background-image: url("https://bit.ly/39Ujxxs");
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.principal {
  height: 100vh;
  background-color: #272727;
  background-image: url("https://bit.ly/3oz1IZ0");
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clock {
  background-color: #fe3411;
  height: 300px;
}

.welcome {
  color: #272727;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  padding: 3px;
  font-weight: bold;
}

.card {
  width: 90%;
  margin: 5% 1% 1% 1%;
  padding: 5%;
  border-radius: 8px;
  -webkit-box-shadow: 1px 3px 6px white;
          box-shadow: 1px 3px 6px white;
}

.card__inner {
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  color: #272727;
  text-align: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  margin: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form input {
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
  max-width: 35%;
}

form button {
  padding: 5px;
  border-radius: 5px;
  background-color: #f85b06;
  color: whitesmoke;
}
/*# sourceMappingURL=main.css.map */