@import 'config';


.nav {
    width: 100%;
    background-color: $accent-color;
    @include flex-center(row);
    align-items: flex-end;
    
    &__btn {
        background-color: $accent-color;
        border: none;
        cursor: pointer;
        margin: {
            right: 15px;
            left: auto;
        }

        & > p {
            text-transform: uppercase;
            color: $text-color;
            margin: 0 0 10px;
            font-weight: bold;
        }

        &--flag {
            width: 50px;
        }
    }
}

.main {
    height: 100vh;
    background-color: $primary-color;
    background-image: url('https://bit.ly/39Ujxxs');
    @include background-img;
    color: $text-color;
    @include flex-start;
}

.principal {
    height: 100vh;
    background-color: $primary-color;
    background-image: url('https://bit.ly/3oz1IZ0');
    @include background-img;
    color: $text-color;
    @include flex-start;
}

.clock {
    background-color: $accent-color;
    height: 300px;
    
}

.welcome {
    color: $primary-color;
    background-color: rgba(255,255,255,.4);
    border-radius: 8px;
    padding: 3px;
    font-weight: bold;
}

.card {
    width: 90%;
    margin: 5% 1% 1% 1%;
    padding: 5%;
    border-radius: 8px;
    box-shadow: 1px 3px 6px white;
    
    &__inner {
        padding: 5%;
        background-color: rgba(255,255,255,.4);
        border-radius: 8px;
        color: $primary-color;
        text-align: center;
    }

    // &__english {
    //     background-image: url('https://i.imgur.com/NuP4KPz.jpg');
    //     @include background-img;
        
    // }
    // &__español {
    //     background-image: url('https://i.imgur.com/VIw6jy5.jpg');
    //     @include background-img;
        
    // }


}

.form {
    @include flex-start();
    // margin: 0 auto;
}

form {
    margin: 1%;
    @include flex-center(row);

    input {
        margin: 2px;
        padding: 5px;
        border-radius: 5px;
        max-width: 35%;
    }

    button {
        padding: 5px;
        border-radius: 5px;
        background-color: rgb(248, 91, 6);
        color: whitesmoke;
    }
}